<p id="notice"><%= notice %></p>

<p>
  <strong>Deposit:</strong>
  <%= @grouped_payment.deposit_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @grouped_payment.group_id %>
</p>

<%= link_to 'Edit', edit_grouped_payment_path(@grouped_payment) %> |
<%= link_to 'Back', grouped_payments_path %>
