<p id="notice"><%= notice %></p>
<div class="deposit_container">
  <h1 class="deposit_head">Deposits</h1>
  <ul class="deposit_title">
    <li class="deposit_title_list left">Total amount</li>
    <li class="deposit_title_list right">$<%= @total %></li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    
    <tbody>
      <% @deposits.each do |deposit| %>
        <tr>
          <td><%= deposit.name %></td>
          <td><%= deposit.amount %></td>
          
          <td><%= deposit.author_id %></td>

          <td><%= link_to 'Show', deposit %></td>
          <td><%= link_to 'Edit', edit_deposit_path(deposit) %></td>
          <td><%= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Deposit', new_deposit_path %>
</div>