<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deposit.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.amount %>
</p>

<p>
  <strong>Author:</strong>
  <%= @deposit.author_id %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
